/* ---------- footer ---------- */
.footer{
    height: 240px;
    width: 100%;
    background-color: #272727;
    margin-top: 300px;
    display: flex;
    padding: 20px 0;
    :not(.logo, .info1, .info2, .footer_logout){
      color: #ffffffec;
    }
  }
  .mainPage .footer {
    margin-top: 0; /* mainPage 클래스 안에 속해있을 때 margin-top 효과 제거 */
  }
  .footer_left{
    width: 60%;
    .info{
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-left: 40px;
      *{
          display: flex;
          align-items: center;
          margin-bottom: 8px;
          p{
             margin-left: 12px;
          }
      }
    }
    .logo{
      width: 140px;
      height: 100px;
      font-size: 40px;
      font-weight: bold;
      margin-top: 28px;
      color: #ffffffec;
    }
  }
  .footer_right{
    height: 80%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 12px;
    .sns {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 12px;
      cursor: pointer;
      *:first-child{
          margin-right: 12px;
      }
    }
  }
  
  .info1, .info2{
    color: #C8C4C4; opacity: 57%;
  }
  .about{
    margin-bottom: 8px;
  
  }
  .footer_logout{
    text-align: right;
    margin: 8px 20px 0 0;
    color: #D4D4D4;
    cursor: pointer;
  }
  