/* 로그인, 회원가입 공통body */
.sign-wrapper {
  height: 100vh;
  margin-bottom: -300px;
  background-color: #ffffff98;
  padding-top: 40px; 
}
.sign-wrapper2{
  height: fit-content;
  margin-bottom: -300px;
  background-color: #ffffff98;
  padding: 100px; 
}

// .intro {
//   background-color: #ccd1ff;
//   margin-bottom: -300px;
//   padding: 0;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
//   .introduce {
//     display: flex;
//     flex-direction: column;
//     text-align: left;
//     justify-content: center;
//     margin-right: 180px;
//     width: 38vh;
//     height: 60vh;
//     * {
//       color: #ffffff;
//       word-break: keep-all;
//       font-weight: bold;
//     }

//     :first-child {
//       color: rgba(0, 0, 0, 0.5019607843);
//       font-size: 18px;
//       margin-bottom: 10px;
//     }
//     :last-child {
//       font-size: 20px;
//     }
//     h2 {
//       margin-bottom: 50px;
//     }
//   }
// }

h2 {
  /* display: flex;
    justify-content: center; */
  color: #424242;
  font-size: 32px;
}

#signin-form,
#signup-form {
  margin-top: 20px;
}

.login-container {
  width: 380px;
  height: 76%;
  border: solid 2px #c3c2c2;
  border-radius: 10px;
  background-color: #f6f8fa;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  h4 {
    color: #949494;
    margin: 12px auto 32px;
  }
  form {
    width: 100%;
    margin-top: 10px;
  }
  a {
    margin: 24px 15px 25px auto;
    font-size: 13px;
    color: #6b6b6b;
  }
}

.signup-container {
  width: 380px;
  /* width: 38vh; */
  height: 90%;
  height: -moz-fit-content;
  height: fit-content;
  border: solid 2px #c3c2c2;
  border-radius: 10px;
  background-color: #f6f8fa;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  h4 {
    color: #949494;
    margin: 12px auto 40px;
  }
  form {
    width: 100%;
    margin-top: 10px;
  }
  a {
    margin: 24px 15px 25px auto;
    font-size: 13px;
    color: #6b6b6b;
  }
}

.login-input {
  width: 100%;
  margin: 0 auto 12px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  label {
    width: 70%;
    display: block;
    margin: 3px;
    color: #3d3d3d;
    font-weight: bold;
    font-size: 14px;
  }
  input[type="text"],
  input[type="password"] {
    width: 68%;
    padding: 10px;
    border: 1px solid #5094f9;
    border-radius: 10px;
    background-color: #ffffff;
    margin-top: 4px;
  }
}

.signup-input {
  width: 80%;
  margin: 0 auto 15px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  label {
    width: 25%;
    display: block;
    margin: 3px;
    color: #3d3d3d;
    font-weight: bold;
    font-size: 14px;
  }
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  input[type="number"] {
    width: 60%;
    padding: 10px;
    border: 1px solid #5094f9;
    border-radius: 10px;
    background-color: #ffffff;
  }
}

/* 로그인,회원가입 버튼 */
.btn_signin,
.btn_signup {
  display: flex;
  justify-content: center;
  width: 75%;
  background-color: rgba(90, 44, 218, 0.6);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  &:hover {
    background-color: rgba(90, 44, 218, 0.7764705882);
  }
}

.btn_signup {
  margin: 40px auto 40px;
}

.btn_signin {
  margin: 52px auto 0;
}

/* --------------로그인 페이지-------------- */
/* 회원가입링크 */
.move {
  display: flex;
  justify-content: center;
  a {
    margin: 24px 30px 45px 0;
    font-size: 14px;
  }
  a:last-child {
    margin-right: 0; /* 마지막 요소의 오른쪽 마진을 0으로 설정하여 간격 조절 */
  }
}

/* 링크 스타일 수정 */
a {
  color: #555; /* 글자색을 검은색으로 설정 */
  cursor: pointer;
}
