.content_container{
    height: calc(100vh - 200px); /* header, footer 높이 뺀 값 */


    // 믹스인 사용해서 중복 줄여보기

    // ----- 회원리스트 page
    .manageuser_container{
        display: flex;
        height: calc(100vh + 100px);  


        .tab_wrapper{
            flex: 1;
            display: flex;
            justify-content: space-between;

            display: flex;
            flex-direction: column;
            background-color: #484848;
            color: white;

            .tab_btn_wrapper{
                display: flex;
                flex-direction: column;

                button{
                    height: 52px;
                    background-color: inherit;
                    color: inherit;
                    font-size: 16px;
                    font-weight: 600;

                    &:hover{
                        background-color: #6c6c6c;
                    }
                }
            }
            .btn_mng_logout{
                background-color: inherit;
                color: inherit;
                display: flex;
                justify-content: right;
                padding: 0 20px 20px 0 ;
                &:hover{
                    background-color: #484848;
                }
            }
        }

        .userlist_wrapper{
            flex: 9;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 40px;
            background-color: #E9E9EB;
            // height: fit-content;
            padding-bottom: 40px;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 10px;  
            }
            &::-webkit-scrollbar-thumb {
            background: #c0c0c0; /* 스크롤바 색상 */
            border-radius: 10px; /* 스크롤바 둥근 테두리 */
            }
            &::-webkit-scrollbar-track {
            background: #e7e6f696;  /*스크롤바 뒷 배경 색상*/
            }

            .list_container{
                width: 72%;
                height: fit-content;
                padding: 8px;
                
                display: flex;
                flex-direction: column;


                // --------- ManagerUser
                .title_wrapper{
                    background-color: #F8F8F8;
                    border-top: solid #ACACAC 1px;
                    border-bottom: solid #ACACAC 1px;
                }
                .list_wrapper{
                    background-color: #ffffff;

                    button{
                        height: 28px;
                        width: 80px;
                        border: solid 1px;
                        border-radius: 20px;
                        color: white;
                        font-size: 14px;
                        font-weight: 600;
                        margin-left: 8px;
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    }
                    .levelup_btn{
                        background-color: #FFD66B; opacity: 80%;
                        border-color: #FFD66B;
                        
                        &:hover{
                            background-color: #FFD66B; opacity: 95%;
                        }
                    }
                    .info_btn{
                        background-color: #434349; opacity: 80%;
                        border-color: #434349;

                        &:hover{
                            background-color: #434349; opacity: 95%;
                        }
                    }
                    // .del_btn{
                    //     background-color: #f96464; opacity: 80%;
                    //     border-color: #ff4a4a;
                    //     margin-left: 40px;
                    // }

                    .title_state_new{
                        color: #ffb862;
                        font-weight: 600;
                    }
                    .title_state_old{
                        color: #3253ffc4;
                        font-weight: 600;
                    }
                    .title_state_manage{
                        color: white;
                        background-color: #434349;
                        padding: 4px 0px;
                        font-size: 15px;
                    }
                    .title_name{
                        font-weight: bold;
                        color: #000000bf;
                    }
                    .title_stunum, .title_studep{
                        color: #000000bf;
                    }
                }

                .title_wrapper, .list_wrapper{
                    display: inherit;
                    height: 40px;
                    align-items: center;
                    
                    .title_state, .title_state_new, .title_state_old, .title_state_manage{
                        flex: 1;
                    }
                    .title_name{
                        flex: 1;
                    }
                    .title_stunum{
                        flex: 2;
                    }
                    .title_studep{
                        flex: 2;
                    }
                    .title_none{
                        flex: 3;
                    }
                }


                // --------- UserDetail
 
            }
        }


    }



    
    // ----- 회원 detail page

    // .userdetail_container{
    //     display: flex;
    //     height: calc(100vh - 160px);  /* 컴포넌트 높이 뺀 값 */

        


        
    // }



}

