/* ---------- 풀이 페이지 ---------- */


/* 풀이타이틀 */
.solution_container {
  max-width: 1142px;
  height: fit-content;
  margin: 60px auto;
  display: flex;
  flex-direction: column;

  /* 성공인원수 */
  .pass_num {
    font-weight: bold;
    font-size: 20px;
    margin-left: auto;
    margin: 40px 0px 40px auto;
  }

  .solution_bar,
  .solution,
  .solutionBtn,
  .solving,
  .left,
  .right {
    font-family: "Pretendard-Regular";

    display: flex;
    align-items: center;
    justify-content: center;
    // font-size: 20px;
  }

  .solution_bar {
    justify-content: space-between;
    font-size: 20px;

    .solution {
      width: 90%;
      display: flex;
      justify-content: space-between;
      margin: auto;

      .left {
        .solution_num {
          margin-right: 16px;
          color: #ff8412;
          font-weight: bold;
          font-size: 22px;
        }
        .solution_title {
          font-weight: bold;
          font-size: 20px;
          margin-right: 60px;
        }
      }

      .prob_score {
        min-width: fit-content;
        display: flex;
        font-weight: bold;
        color: #04ca00;
        display: flex;
        align-items: center;
      }
    }
  }
}

/* 풀이목록 */
.solving_list {
  height: fit-content;


  .solving {
    width: 90%;
    margin: auto;
    margin-bottom: 8px;
    justify-content: space-between;

    .left {
      .userGen {
        width: 44px;
        font-size: 20px;
        display: flex;
        align-items: center;
        color: #04ca00;
        font-weight: bold;
        margin-right: 20px;
      }
      .userName {
        width: 100px;
        text-align: left;
        font-size: 20px;
        font-weight: bold;
      }
    }

    .right {
      display: flex;
      font-size: 20px;

      /* 풀이 버튼은 global style */

      .process_num {
        color: #696969;
        font-size: 20px;
        font-weight: bold;
        margin-right: 20px;
      }
      .btn_goto_challenge {
        height: fit-content;
        width: fit-content;
        padding: 6px 28px;
        color: white;
        border: solid #565656;
        border-radius: 5px;
        background-color: #565656;
        font-size: 16px;
        font-weight: bold;
        box-shadow: 1px 3px #ccc9c9;
        margin-left: 12px;
        &:hover {
          background-color: #262626;
          border-color: #262626;
        }
      }
      .btn_fail,
      .btn_success,
      .btn_state {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        width: 88px;
        min-width: fit-content;
        height: 32px;
        font-weight: bold;
      }
      .btn_success {
        border: solid 3px #5094f9;
        color: #5094f9;
      }
      .btn_fail {
        border: solid 3px #eb3434;
        opacity: 80%;
        color: #eb3434;
      }
      .btn_state {
        border: solid 3px #c2c2c2;
        color: #999999;
        opacity: 80%;
        font-size: 16px;
      }
    }
  }
}

// TODO : 필요없는 스타일 삭제
/* 풀이버튼 */
.btn_baekjoon,
.btn_challenge {
  width: fit-content;
  height: fit-content;

  border-radius: 5px;
  border: 2px solid;
  background: #fff;
  padding: 10px 24px;
  font-weight: bold;
  font-size: 18px;
}

.btn_baekjoon {
  border-color: #325cc7;
  color: #325cc7;
  margin-right: 12px;
}
.btn_challenge {
  border-color: #dedede;
  color: #6a6b6f;
}
.btn_process {
  height: fit-content;
  background-color: #ffffff;
  color: #6a6b6f;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid #dedede;
  margin-right: 20px;
  text-align: center;
  padding: 3px;
}
.solution_score {
  font-size: 20px;
}



