.App {
  text-align: center;
  font-family: 'Pretendard-Regular';
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}
  
/* 로그인, 회원가입 공통body */
.intro {
  background-color: #CCD1FF;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.intro > .introduce{
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  margin-right: 180px;
  width: 38vh;
  height: 60vh;
}
.intro > .introduce > *{
  color: #FFFFFF;
  word-break:keep-all;
  font-weight: bold;
}
.intro > .introduce > :first-child{
  color: #00000080;
  font-size: 18px;
  margin-bottom: 10px;
}
.intro > .introduce > :last-child{

  font-size: 20px;
}
.intro > .introduce > h2{
  margin-bottom: 50px;
}

h2 {
  /* display: flex;
  justify-content: center; */
  color: #424242;
  font-size: 32px;
}

.signup-container > h4{
  color: #949494;
  margin: 12px auto 40px;
}
.login-container > h4{
  color: #949494;
  margin: 12px auto 32px;
}
#signin-form,
#signup-form{
  margin-top: 20px;
}

.login-container{
  width: 380px;
  height: 72%;
  border: solid 2px #C3C2C2;
  border-radius: 10px;
  background-color: #F6F8FA;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.signup-container{
  width: 380px;
  /* width: 38vh; */
  height: 90%;
  height:fit-content;
  border: solid 2px #C3C2C2;
  border-radius: 10px;
  background-color: #F6F8FA;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  
}

.login-container > form,
.signup-container > form{
  width: 100%;
  margin-top: 10px;
}
.login-container > a{
  margin: 15px 15px 25px auto;
  font-size: 13px;
  color: #6B6B6B;
}
.signup-container > a{
  margin: 15px 15px 25px auto;
  font-size: 13px;
  color: #6B6B6B;
}

.login-input {
  width: 100%;
  margin: 0 auto 24px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signin-input {
  width: 80%;
  margin: 0 auto 15px;
  text-align: left;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.signin-input > label {
  width: 25%;
  display: block;
  margin: 3px;
  color: #3D3D3D;
  font-weight: bold;
  font-size: 14px;
}
.login-input > label {
  width: 70%;
  display: block;
  margin: 3px;
  color: #3D3D3D;
  font-weight: bold;
  font-size: 14px;
}
.signin-input > input[type="text"],
.signin-input > input[type="password"],
.signin-input > input[type="email"],
.signin-input > input[type="tel"] {
  width: 60%;
  padding: 10px;
  border: 1px solid #5094f9;
  border-radius: 10px;
  background-color: #FFFFFF;
}
.login-input > input[type="text"],
.login-input > input[type="password"]{
  width: 70%;
  padding: 10px;
  border: 1px solid #5094f9;
  border-radius: 10px;
  background-color: #FFFFFF;
  margin-top: 4px;
}

/* 로그인,회원가입 버튼 */
.btn_signin, .btn_signup {
  display: flex;
  justify-content: center;
  width: 75%;
  background-color: #5a2cda99;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 14px
}
.btn_signin:hover,
.btn_signup:hover{
  background-color: #5a2cdac6;
}
.btn_signup{
  margin: 40px auto 40px;
}
.btn_signin{
  margin: 40px auto 0;

}

/* --------------로그인 페이지-------------- */
/* 회원가입링크 */
.move{
  display: flex;
  justify-content: center;
}

.move > a {
  margin: 24px 30px 45px 0;
  font-size: 14px;
}

.move > a:last-child {
  margin-right: 0; /* 마지막 요소의 오른쪽 마진을 0으로 설정하여 간격 조절 */
}



/* 링크 스타일 수정 */
a {
  color: #555; /* 글자색을 검은색으로 설정 */
  cursor: pointer;
}

/* -------------- 회원가입 -------------- */

/* .signup-container {
  width: 300px;
} */