.App {
  text-align: center;
  font-family: 'Pretendard-Regular';
  /* background-color: #f9fafb; */
  /* background-color: #1c1c1c; */
  background-color: #E9E9EB;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* -----공통요소----- */
*{
  list-style-type: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}
button:hover {
  cursor: pointer;
}



/* -----네비게이션바----- */
.logout, .userId, .userLevel{
  height: fit-content;
  width: fit-content;
  padding: 5px 30px;
  color: white;
  border: solid white;
  border-radius: 10px;
}
.logout{
  width: fit-content;
  /* background-color: #5a2cda; opacity: 70%; */
  background-color: #ffffff;
  margin: 15px 50px 0px auto;
  color: #555555;
  font-weight: bold;
  font-size: 17px;
  /* border-color: #5a2cda;; */
  border:solid 3px #7d7d7d;
  border-radius: 80px;
}
.logout:hover{
  background-color: #414141;
  border-color: #414141;
  color: #ffffff;

}
.container > .btns > .userId{
  width: fit-content;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  background-color: #5a2cdad2;
  /* background-color: #555555; */
  border-radius: 80px;
}

.btns > .userId:hover{
  /* background-color: #9171e9; */
  background-color: #787777da;
}
.userLevel{
  width: fit-content;
  background-color: #000000;
  color: #ffffff;
  padding: 5px 10px;
}

.btns{
  display: flex;
  margin: 20px 60px 0px auto;
}

.container {
  display: flex;
  flex-direction: column; /* 수직으로 배치 */
  align-items: center;
  background-color: #ffffff;
}
.navbar{
  display: flex;
  /* background-color: red; */
  width: 90%;
  margin: 0px auto;
  align-items: flex-end;
}
.navbar > *{
  display: flex;
  justify-content: center;
  /* text-align: center; */
}

.navbar > .logo{
  width: 140px;
  height: 100px;
  /* background-color: aquamarine; */
  font-size: 40px;
  font-weight: bold;
  /* color: #373737; */
  color: #1c1c1dc3;
  cursor: pointer;
}

.menu1, .menu2{
  height: fit-content;
  font-size: 26px;
  margin-left: 56px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #686868;

  /* background-color: yellow; */
}
.menu1:hover{
  /* background-color: #d5e6ff; */
  border-radius: 5px;
  color: #000000;

}

.content0{
  width: 100%;
  height: 80vh;
  margin: 0px auto;
  background-color: #000000; opacity:81%;
  color: #373737;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content0 > .ps{
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: fit-content;
  text-align: start;
  margin: 0 auto;
}
.ps > .p1{
  color: #CACACA; opacity: 60%;
  font-size: 25px;
}
.ps > .p2{
  color: #ffffff;
  font-size: 36px;
}
.main_btn{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.main_btn > .btn1,
.main_btn > .btn2,
.main_btn > .btn3{
  border-radius: 18px;
  font-size: 22px;
  color: #ffffff;
  width: 132px;
  height: fit-content;
  padding: 5px 0px;
}
.main_btn > .btn1{
  background-color: #000000; opacity: 90%;
  border: solid #ffffff 2px;
  margin-right: 50px;
}
.main_btn > .btn2,
.main_btn > .btn3{
  background-color: #5A2CDA;
  border: solid #5A2CDA 2px;
  /* padding: 0px 15px; */
}
.main_btn > .btn1:hover{
  background-color: rgba(255, 255, 255, 0.201);
}
.main_btn > .btn2:hover{
  background-color: #a289e5;
  border: solid #a289e5 2px;
}

.content1{
  width: 100%;
  height: 75vh;
  margin: 0px auto;
  /* padding-top: 120px; */
  background-color: #1f1f1f;
  
  /* display: flex;
  align-items: center;
  justify-content: center;  */
  
}


.content1 > p{
  color: #ffffff;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 80px;
}
.content1 > img{
  width: 100%;
  height: 85vh;
  filter: brightness(0.4); 
  /* margin-right: 40px; */
}
.content2{
  width: 80%;
  height: 360px;
  margin: 40px auto;
  align-items: flex-end;
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* -----마이페이지----- */
.mypage_content{
  display: flex;
  width: 90%;
  justify-content: center;
  margin: 0 auto;
}
.mypage_content > .left{
  margin-right: 60px;
  display: flex;
  align-items: baseline;
}
.mypage_content > .right{
  display: flex;
  flex-direction: column;
}
.mypage_btn{
  width: fit-content;
  height: fit-content;
  padding: 2px 6px;
  color: #ffffff;
  background-color: #9747FF; opacity: 60%;
  border: solid #9747FF; opacity: 60%;
  border-radius: 20px;
  margin: 0 0 6px 8px;
}

.content_mypage{
  padding-top: 40px;
  /* background-color: #ECEAFF; */
  background-color: #f2f1fe;

  height: 100vh;
  padding-bottom: 300px;
  margin-bottom: -300px;
}
.content_mypage > h2{
  width: 100%;
  text-align: left;
  margin-left: 40px;
  color: #000000; opacity: 60%;
  font-size: 26px;
}


.noFeed, .noProblems{
  height: 100%;
  font-weight: bold;
  color: hsl(0, 0%, 78%);
}
.memberInfo,.myProblem, .myFeedback{
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  border: solid #C3C2C2 2px;
  border-radius: 10px;
}
.memberInfo{
  height: 60%;
  width: 220px;
  /* margin-bottom: 140px; */
  margin: 36px auto;
  justify-content: center;
}
.myProblem, .myFeedback{
  height: 240px;
  width: 800px;
  justify-content: center;
}
.myFeedback{
  color: #C3C2C2;
}
.myProblem{
  margin-bottom:16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  /* 내용 초과시 스크롤바 */
  overflow-y: auto;
}
/* 스크롤바 */
.myProblem::-webkit-scrollbar {
  width: 10px;  
}
.myProblem::-webkit-scrollbar-thumb {
  background: #c0c0c0; /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥근 테두리 */
}
.myProblem::-webkit-scrollbar-track {
  background: #e7e6f696;  /*스크롤바 뒷 배경 색상*/
}

.problems, .feeds{
  width: 100%;
  display: flex;
  padding: 4px 0;
  
}
.problemList, .FeedList{
  width: 100%;
}
.problems > *,
.feeds > *{
  display: flex;
  align-items: center;
}
/* .problems > *:not(:first-child){
  margin-right: 40px;
} */
.problems > .problemId,
.feeds > .problemId{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  color: #04CA00;
  font-weight: bold;
}
.problems > .finalScore,
.problems > .problemScore{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7%;
  color: #aaaaaad3;
  font-weight: bold;
}
.dash{
  width: 1%;
  color: #1f1f1fb3;
  color: #aaaaaad3;
  font-weight: bold;
}
.problems > .problemScore{
  margin-right: 10px;
}
.problems > .problemTitle,
.problems > .mameberName,
.problems > .memberGen{
  justify-content: left;
  width: 60%;
  font-weight: bold;
  cursor: pointer;
}
.feeds > .memberGenName{
  justify-content: left;
  width: 10%;
  font-weight: bold;
  color: #262626;
}
.feeds > .commentContent{
  margin: 0 20px 0 20px;
  width: 60%;
  color: #1f1f1f;
  cursor: pointer;

}
.problemList :hover,
.FeedList :hover {
  background-color: rgba(243, 242, 242, 0.737);
}

/* 성공여부에 따라 버튼색 변화 */

.btn_fail, .btn_success, .btn_state{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 80px;
  height: 28px;
  font-weight: bold;
}
.btn_success{
  border: solid 3px #5094F9;
  color: #5094F9; 
}
.btn_fail{
  border: solid 3px #EB3434; opacity: 80%;
  color: #EB3434; opacity: 80%;
}
.btn_state{
  border: solid 3px #c2c2c2;
  color: #999999; opacity: 80%;
  font-size: 16px;
}
.memberInfo > .text{
  margin-bottom: 2px;
}
.text > :first-child{
  width: 30%;
  text-align: left;
  margin-right: 12px;
  color: #a7a7a7;
  font-weight: bold;
}
.text > :last-child{
  width: 55%;
  text-align: left;
  font-weight: bold;
  color: hsla(0, 0%, 0%, 0.725);


}
.memberInfo > .info_name{
  margin: 20px auto 40px;
  display: flex;
  font-weight: bold;
}
.memberInfo > .info_name > p{
  font-size: 23px;
  color: #000000;
}
.memberInfo > *{
  color: #000000; opacity: 80%;
}
.memberInfo > *:not(:first-child, .info_name){
  width: 80%;
  display: flex;
  justify-content: left;
}
.memberInfo > .info_name{
  font-size: 32px;
  color: #060606;
}


/* 풀이 > 버튼 */
.right > .btn_fail,
.right > .btn_success{
  width: fit-content;
  height: fit-content;
  font-size: 18px;
  padding: 7px 12px;
  margin-left: 20px;
}

/* -----드롭다운----- */
.dropdown-content{
  position: absolute;
  top: 60px;
  right: 30px;
  width: 200px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0;
  background-color: #fefdfd;
  border: solid 2px rgb(200, 200, 200);
  border-radius: 8px;
  padding: 16px 12px;
  z-index: 999;
}

.dropdown-content > .memberName{
  color: rgb(37, 37, 37);
  font-size: 17px;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: bold;
}
.dropdown-content > :first-child{
  margin: 15px auto;
}
.dropdown-content > .navbar_bottom{
  margin-top: 20px;
  font-size: 14px;
  color: #000000; opacity:55%;
}
.navbarInfo{
  width: 40%;
  text-align: left;
}
.navbarInfo > *{
  font-size: 15px;
  color: #808080;
}
.navbarInfo > .memberScore{
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.memberScore > p{
  color: #04CA00;
  font-weight: bold;
  margin-left: 8px;
}
.userImage{
  width: 100px;
  height: 100px;
  background-color: rgb(212, 212, 212);
  border-radius: 8px;
  margin: 8px;
}
.navbar_bottom{
  display: flex;
}
.navbar_bottom > p{
  margin: 0 8px;
}

.btn_mypage, .btn_logout{
  font-size: 13px;
}

.btn_mypage:hover,
.btn_logout:hover{
  color: #000000;
  font-weight: bold;
}

/* -----풀이----- */
/* 풀이타이틀 */
.solution_container{
  width: 1142px;
  height: 493px;
  margin: 60px auto;

  display: flex;
  flex-direction: column;
}

.solution_bar, .solution,.solutionBtn, .solving, .left, .right{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-medium);
}

.solution_bar{
  justify-content: space-between;
}
.solution{
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;

}

.solution_num{
  margin-right: 16px;
  color: #FF8412;
  font-weight: bold;
  font-size: 22px;
}
.solution_title{
  font-weight: bold;
  font-size: 20px;
  margin-right: 60px;
}
.prob_score{
  display: flex;
  font-weight: bold;
  font-size: 20px;
  /* float: right; */
}
.solution_score{
  font-size: 20px;
}

/* btn_process */
.btn_process{
  height: fit-content;
    background-color: #FFFFFF;
    color: #6A6B6F;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid #DEDEDE;
    margin-right: 20px;
    text-align: center;
    padding: 3px;
}



/* 풀이버튼 */
.btn_baekjoon, .btn_challenge{
  width: fit-content;
  height: fit-content;

  border-radius: 5px;
  border: 2px solid;
  background: #FFF;
  padding: 10px 24px;
  font-weight: bold;
  font-size: 18px;
}

.btn_baekjoon{
  border-color: #325CC7;
  color: #325CC7;
  margin-right: 12px;
}
.btn_challenge{
  border-color: #DEDEDE;
  color: #6A6B6F;
}

/* 성공인원수 */
.pass_num{
  font-weight: bold;
  font-size: 20px;
  margin-left: auto;
  margin: 40px 0px 40px auto;
}

/* 풀이목록 */
.solving_list{
  margin-top: var(--margin-middle);
}

.solving{
  width: 90%;
  margin: auto;
  margin-bottom: 8px;
  justify-content: space-between;
}

.solving > .right{
  /* 수정 */
  display: flex;
  font-size: var(--font-medium);
}
.left > .userGen{
  /* color: #04CA00; */
  width: 44px;
  font-size: 20px;
  display: flex;
  color: #04CA00;

}
.right > .process_num{
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.left > .userName{
  width: 100px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

.process_num, .userGen {
  margin-right: 20px;
}

.btn_goto_challenge{
  height: fit-content;
  width: fit-content;
  padding: 6px 28px;
  color: white;
  border: solid #565656;
  /* #5094F9 */
  border-radius: 5px;
  background-color: #565656;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 1px 3px #CCC9C9;
  margin-left: 12px;
  &:hover{
    background-color: #262626;
    border-color: #262626;
  }
}



/* footer */
.footer{
  height: 240px;
  width: 100%;
  background-color: #272727;
  margin-top: 300px;
  display: flex;
  padding: 20px 0;
}
.footer_left{
  width: 60%;
}
.footer_left > .info{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 40px;
}
.footer_left > .logo{
  width: 140px;
  height: 100px;
  font-size: 40px;
  font-weight: bold;
  margin-top: 28px;
  color: #ffffffec;
}
.footer_left > .info > *{
  display: flex;
  align-items: center;
}
.info > * > p{
  margin-left: 12px;
}
.info > *{
  margin-bottom: 8px;
}
.footer_right{
  height: 80%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-top: 12px;
}
.footer_right > .sns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  cursor: pointer;
}
.sns > *:first-child{
  margin-right: 12px;
}
/* .footer_right > .sns a {
  text-decoration: none;
  color: inherit;
} */
.footer :not(.logo, .info1, .info2, .footer_logout){
  color: #ffffffec;
  ;
}
.info1, .info2{
  color: #C8C4C4; opacity: 57%;
}
.about{
  margin-bottom: 8px;

}
.footer_logout{
  text-align: right;
  margin: 8px 20px 0 0;
  color: #D4D4D4;
  cursor: pointer;
}

/* 슬라이드 */

.img_slid{
  display:block;
	height:100%;
  margin-right: auto;
  width: 100%;
}








.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
