@charset "UTF-8";
.content_container .manageuser_container {
  display: flex;
  height: calc(100vh - 160px); /* 컴포넌트 높이 뺀 값 */
}
.content_container .manageuser_container .tab_wrapper {
  flex: 1;
  display: flex;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background-color: #484848;
  color: white;
}
.content_container .manageuser_container .tab_wrapper .tab_btn_wrapper {
  display: flex;
  flex-direction: column;
}
.content_container .manageuser_container .tab_wrapper .tab_btn_wrapper button {
  height: 52px;
  background-color: inherit;
  color: inherit;
  font-size: 16px;
}
.content_container .manageuser_container .tab_wrapper .btn_logout {
  background-color: inherit;
  color: inherit;
  display: flex;
  justify-content: rig ht;
  padding: 0 20px 20px 0;
}
.content_container .manageuser_container .tab_wrapper .btn_logout:hover {
  background-color: #484848;
}
.content_container .manageuser_container .userlist_wrapper {
  flex: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.content_container .manageuser_container .userlist_wrapper .list_container {
  width: 72%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 8px;
  display: flex;
  flex-direction: column;
}
.content_container .manageuser_container .userlist_wrapper .list_container .title_wrapper {
  background-color: #F8F8F8;
  border-top: solid #ACACAC 1px;
  border-bottom: solid #ACACAC 1px;
}
.content_container .manageuser_container .userlist_wrapper .list_container .list_wrapper {
  background-color: #ffffff;
}
.content_container .manageuser_container .userlist_wrapper .list_container .list_wrapper button {
  height: 28px;
  width: 80px;
  border: solid 1px;
  border-radius: 20px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin-left: 8px;
}
.content_container .manageuser_container .userlist_wrapper .list_container .list_wrapper .levelup_btn {
  background-color: #FFD66B;
  opacity: 89%;
  border-color: #FFD66B;
}
.content_container .manageuser_container .userlist_wrapper .list_container .list_wrapper .info_btn {
  background-color: #434349;
  opacity: 80%;
  border-color: #434349;
}
.content_container .manageuser_container .userlist_wrapper .list_container .title_wrapper, .content_container .manageuser_container .userlist_wrapper .list_container .list_wrapper {
  display: inherit;
  height: 40px;
  align-items: center;
}
.content_container .manageuser_container .userlist_wrapper .list_container .title_wrapper .title_state, .content_container .manageuser_container .userlist_wrapper .list_container .list_wrapper .title_state {
  flex: 1;
}
.content_container .manageuser_container .userlist_wrapper .list_container .title_wrapper .title_name, .content_container .manageuser_container .userlist_wrapper .list_container .list_wrapper .title_name {
  flex: 1;
}
.content_container .manageuser_container .userlist_wrapper .list_container .title_wrapper .title_stunum, .content_container .manageuser_container .userlist_wrapper .list_container .list_wrapper .title_stunum {
  flex: 2;
}
.content_container .manageuser_container .userlist_wrapper .list_container .title_wrapper .title_studep, .content_container .manageuser_container .userlist_wrapper .list_container .list_wrapper .title_studep {
  flex: 2;
}
.content_container .manageuser_container .userlist_wrapper .list_container .title_wrapper .title_none, .content_container .manageuser_container .userlist_wrapper .list_container .list_wrapper .title_none {
  flex: 3;
}