@charset "UTF-8";
/* ---------- 풀이 페이지 ---------- */
/* 풀이타이틀 */
.solution_container {
  max-width: 1142px;
  height: -moz-fit-content;
  height: fit-content;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  /* 성공인원수 */
}
.solution_container .pass_num {
  font-weight: bold;
  font-size: 20px;
  margin-left: auto;
  margin: 40px 0px 40px auto;
}
.solution_container .solution_bar,
.solution_container .solution,
.solution_container .solutionBtn,
.solution_container .solving,
.solution_container .left,
.solution_container .right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.solution_container .solution_bar {
  justify-content: space-between;
  font-size: 20px;
}
.solution_container .solution_bar .solution {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.solution_container .solution_bar .solution .left .solution_num {
  margin-right: 16px;
  color: #ff8412;
  font-weight: bold;
  font-size: 22px;
}
.solution_container .solution_bar .solution .left .solution_title {
  font-weight: bold;
  font-size: 20px;
  margin-right: 60px;
}
.solution_container .solution_bar .solution .prob_score {
  min-width: -moz-fit-content;
  min-width: fit-content;
  display: flex;
  font-weight: bold;
  color: #04ca00;
  display: flex;
  align-items: center;
}

/* 풀이목록 */
.solving_list {
  height: -moz-fit-content;
  height: fit-content;
}
.solving_list .solving {
  width: 90%;
  margin: auto;
  margin-bottom: 8px;
  justify-content: space-between;
}
.solving_list .solving .left .userGen {
  width: 44px;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #04ca00;
  font-weight: bold;
  margin-right: 20px;
}
.solving_list .solving .left .userName {
  width: 100px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}
.solving_list .solving .right {
  display: flex;
  font-size: 20px;
  /* 풀이 버튼은 global style */
}
.solving_list .solving .right .process_num {
  color: #696969;
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
}
.solving_list .solving .right .btn_goto_challenge {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px 28px;
  color: white;
  border: solid #565656;
  border-radius: 5px;
  background-color: #565656;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 1px 3px #ccc9c9;
  margin-left: 12px;
}
.solving_list .solving .right .btn_goto_challenge:hover {
  background-color: #262626;
  border-color: #262626;
}

/* 풀이버튼 */
.btn_baekjoon,
.btn_challenge {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
  border: 2px solid;
  background: #fff;
  padding: 10px 24px;
  font-weight: bold;
  font-size: 18px;
}

.btn_baekjoon {
  border-color: #325cc7;
  color: #325cc7;
  margin-right: 12px;
}

.btn_challenge {
  border-color: #dedede;
  color: #6a6b6f;
}

.btn_process {
  height: -moz-fit-content;
  height: fit-content;
  background-color: #ffffff;
  color: #6a6b6f;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid #dedede;
  margin-right: 20px;
  text-align: center;
  padding: 3px;
}

.solution_score {
  font-size: 20px;
}