@charset "UTF-8";
/* 풀이타이틀 */
.solution_container {
  width: 1142px;
  height: -moz-fit-content;
  height: fit-content;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  /* 성공인원수 */
}
.solution_container .pass_num {
  font-weight: bold;
  font-size: 20px;
  margin-left: auto;
  margin: 40px 0px 40px auto;
}
.solution_container .solution_bar, .solution_container .solution, .solution_container .solutionBtn, .solution_container .solving, .solution_container .left, .solution_container .right {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-medium);
}
.solution_container .solution_bar {
  justify-content: space-between;
}
.solution_container .solution_bar .solution {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.solution_container .solution_bar .solution .left .solution_num {
  margin-right: 16px;
  color: #FF8412;
  font-weight: bold;
  font-size: 22px;
}
.solution_container .solution_bar .solution .left .solution_title {
  font-weight: bold;
  font-size: 20px;
  margin-right: 60px;
}
.solution_container .solution_bar .solution .prob_score {
  display: flex;
  font-weight: bold;
  font-size: 20px;
  color: #04CA00;
}

/* 풀이목록 */
.solving_list {
  margin-top: var(--margin-middle);
  height: -moz-fit-content;
  height: fit-content;
}
.solving_list .solving {
  width: 90%;
  margin: auto;
  margin-bottom: 8px;
  justify-content: space-between;
}
.solving_list .solving .left .userGen {
  width: 44px;
  font-size: 20px;
  display: flex;
  color: #04CA00;
  font-weight: bold;
  margin-right: 20px;
}
.solving_list .solving .left .userName {
  width: 100px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}
.solving_list .solving .right {
  display: flex;
  font-size: var(--font-medium);
  /* 풀이 버튼 */
}
.solving_list .solving .right .btn_fail, .solving_list .solving .right .btn_success {
  width: 80px;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 18px;
  padding: 7px 12px;
  margin-left: 20px;
}
.solving_list .solving .right .process_num {
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
}
.solving_list .solving .right .btn_goto_challenge {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px 28px;
  color: white;
  border: solid #565656;
  border-radius: 5px;
  background-color: #565656;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 1px 3px #CCC9C9;
  margin-left: 12px;
}
.solving_list .solving .right .btn_goto_challenge:hover {
  background-color: #262626;
  border-color: #262626;
}

/* 풀이버튼 */
.btn_baekjoon, .btn_challenge {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
  border: 2px solid;
  background: #FFF;
  padding: 10px 24px;
  font-weight: bold;
  font-size: 18px;
}

.btn_baekjoon {
  border-color: #325CC7;
  color: #325CC7;
  margin-right: 12px;
}

.btn_challenge {
  border-color: #DEDEDE;
  color: #6A6B6F;
}

.btn_process {
  height: -moz-fit-content;
  height: fit-content;
  background-color: #FFFFFF;
  color: #6A6B6F;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid #DEDEDE;
  margin-right: 20px;
  text-align: center;
  padding: 3px;
}

.solution_score {
  font-size: 20px;
}